<% cache @post, user_agent.mobile? do %>
    <div class="content">
      <div class="markdown">
        <%= @post.markdown_html %>
      </div>

      <% unless @post.footnotes.empty? %>
          <div class="footnotes">
            <ol>
              <%= @post.footnotes %>
            </ol>
          </div>
      <% end %>
    </div>
    <% unless user_agent.mobile? %>
        <div class="next_prev">
          <%= render "direction_footer", direction: :left %>
          <%= render "direction_footer", direction: :right %>
        </div>
    <% end %>
    <%= render "layouts/comments" %>
<% end %>