<div class="content">
  <div class="markdown">
    <%= @post.markdown_html %>
  </div>

  <% unless @post.footnotes.empty? %>
      <div class="footnotes">
        <ol>
          <% @post.footnotes.each_with_index do |footnote, index| %>
              <% index = index + 1 %>
              <li id="<%= "footnote_#{index}" %>">
                <%= footnote %>
                <%= link_to raw("&#8617;"), "#footnote_reference_#{index}", data: { behavior: "scroll_to", offset: -5 } %>
              </li>
          <% end %>
        </ol>
      </div>
  <% end %>
</div>
<%= render "layouts/comments" %>