<div class="popup" data-behavior="popup">
  <header>
    <div class="space"></div>
    <%= link_to image_tag("close_x.svg", class: "close_x"), "#close_x", data: { behavior: "close_x" }, class: "close_link" %>
    <div class="title"><div><%= @post.title %></div></div>
  </header>
  <div class="popup_content container_outer" data-behavior="popup_content"></div>
</div>

<div data-behavior="swipe" data-index="<%= @post.publish_order %>" class="swipe">
  <ul>
    <% @posts.reverse.each do |post| %>
        <% loaded = @post.id == post.id %>
        <%= content_tag :li, data: { path: post_path(post), title: post.title, loaded: loaded }  do %>
            <% if loaded %>
                <%= render "photoswipe_content" %>
            <% else %>
                <div class="center_container">
                  <%= render "layouts/spinner" %>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>