<div class="container_outer summary_content_container" data-behavior="summary_content_container">
  <div class="container">
    <div class="summary_content">
      <div>
        <%= @post.localized_date %>
        <h2><%= set_title @post.title %></h2>
        <div class="place">
          <%= @post.place %> - <%= @post.address %>
        </div>
        <% unless @post.has_content? %>
            <div class="html">
              <%= @post.markdown_html %>
            </div>
        <% end %>
      </div>
      <% if @post.has_content? %>
          <div>
            <%
               text = "Read Story"
               klass = "read_story"
            %>

            <% if user_agent.mobile? %>
                <%= link_to text, "#main_content", data: { behavior: "show_popup" }, class: klass %>
            <% else %>
                <%= link_to text, "#main_content", data: { behavior: "scroll_to" }, class: klass %>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class="comment_container">
      <% image = image_tag "comment.svg", class: "comment_box" %>
      <% if user_agent.mobile? %>
          <%= link_to image, "#comments", data: { behavior: "show_comment" }, class: klass %>
      <% else %>
          <%= link_to image, "#comments", data: { behavior: "scroll_to" }, class: klass %>
      <% end %>
    </div>
  </div>
</div>