<div class="summary_content">
  <div>
    <div><%= l post.date %></div>
    <h2><%= set_title post.title %></h2>
    <div>
      <%= post.summary_html %>
    </div>
  </div>
  <div>
    <% if post.has_text? %>
        <%
           text = "Read More"
           klass = "read_more"
        %>

        <% if user_agent.mobile? %>
            <%= link_to text, show_content_post_path, data: { behavior: "show_popup" }, class: klass %>
        <% else %>
            <%= link_to text, "#show_content", data: { behavior: "scroll_to", scroll_to: "section.main" }, class: klass %>
        <% end %>
    <% end %>
  </div>
</div>