<% set_title "Edit #{@post.title}" %>

<%= render "layouts/logo_header" %>

<div class="preview">
  <%= image_tag @post.photo.desktop, data: { behavior: "crop_preview" } %>
</div>

<div class="container_outer">
  <section class="main">
    <%= form_for @post, html: { class: "left", data: { behavior: "crop_form" }} do |f| %>
        <% Post::CROP_ATTRIBUTES.each do |attribute| %>
            <%= f.hidden_field attribute %>
        <% end %>
        <%= f.label :text %><br />
        <%= f.text_area :text %>
        <%= submit_tag "Update" %>
    <% end %>

    <div class="right">
      <%= image_tag @post.photo.to_crop, data: { behavior: "crop" } %>

      <%= link_to "Preview", post_path(@post), class: "preview_link" %>
      <div>
        <%= link_to @post.published ? "Unpublish" : "Publish", toggle_publish_post_path(@post), method: :patch %>
      </div>
      <%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Destroy '#{@post.title}'?" } %>

      <%= text_area_tag :facebook_summary, @post.facebook_summary, class: "facebook_summary", readonly: true, data: { behavior: "select_all" }%>
    </div>
  </section>
</div>