<script>flow_type({ minFont: 20, maxFont: 30});</script>

<% if user_agent.mobile? %>
    <%= render "photoswipe" %>
<% else %>
    <%= render "photo_box" %>
    <div class="container_outer">
      <section class="main">
        <div class="left">
          <% if @post.has_content? %>
              <%= render "content" %>
          <% end %>
          <%= render "layouts/disqus" %>
        </div>
        <div class="right">
          <%= if authenticated?; link_to "Edit", edit_post_path(@post) end %>
        </div>
      </section>
    </div>
<% end %>