<% content_for :header do %>
    <%= render "layouts/invisible_header" %>
<% end %>

<div class="photo_box" data-behavior="photo_box">
  <%= link_to "#toggle_summary", class: "summary", data: { behavior: "toggle_summary" } do %>
      <div class="container">
        <div class="grid">
          <div class="content" data-behavior="summary">
            <div><%= @post.date %></div>
            <h2><%= set_title @post.title %></h2>
          </div>
        </div>
      </div>
  <% end %>
  <%= direction_arrow :left %>
  <%= direction_arrow :right %>

  <div class="inner">
    <%= image_tag @post.photo_url, class: "photo" %>
  </div>
</div>

<section class="main">
  <div class="left">
    <%= @post.markdown_html %>
  </div>
  <div class="right">
    <%= if authenticated?; link_to "Edit", edit_post_path(@post) end %>
  </div>
</section>