<header class="main">
  <%= link_to root_path do %><h1><%= image_tag("logo.svg", class: "logo") %></h1><% end %>
  <div class="right">
    <% if authenticated? && action_name == "index" %>
        <%= link_to "", "#read_mode", data: { behavior: "read_mode" } %>
    <% end %>
    <%= link_to "Map" %>
    <%= link_to "About" %>
  </div>
</header>